*{
margin:0 auto;
padding:0auto;
font-family: 'Cardo', serif;
}
.backImg{
	width:100% auto;
	height:100vh auto;
	background-image:url('');
	background-size:cover;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	color:white;
	}
.divImg{
	width:50% auto;
	height:100vh ;
	background-image:url('w.jpg');
	background-size:cover;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	color:white;
	}
.profile{
	width:300px;
	background-color:rgba(0,0,0,0.5);
    padding:30px 0;
	border-radius:10%;
	
	}
img{
	height:200px;
	border-radius:70%;
	margin-bottom:25px;
}
 a i{

	color:black;	
}
.profileText h2{
	font-size:2em;
	font-weight:500;
	margin-bottom:10px;
	
}
.profileText h3{
	font-size:1.2em;
	font-weight:500;
	margin-bottom:10px;
	color:white;
}
.profileText{
	margin-bottom:20px;
}
p{
	color:black ;
	font-size:30px;
	font-family: 'Cardo', serif;
}
h3{
	color:black;
	font-size:40px;
	font-family: 'Cardo', serif;
}
ul li{
	color:black;
	font-family: 'Cardo', serif;
	text-align:left;
	font-size:25px;
}
.profileFont i{
         color:black;
}